<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "static/vit.css">
    <link rel= "stylesheet" type= "text/css" href= "static/sidebar.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-key"></i><span>Logout</span></a></li>
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"></button>
                        <ul class="navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow">
                                   
                                </div>
                            </li>
                            
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1"></h3>
                    <br>
                    <div class="col-md-4"><button onclick="document.location='fake-news'"style="border-radius: 50px ; height: 100px ; width: 100px ;font-size: 2em ;background-color:#4e73de;"><i class="fas fa-table" style="color: rgb(255, 255, 255);"></i></button>
                        <br>
                        <h4 class="section-heading">Fake News </h4>
                        <p class="text-muted">All fake News Brouught To Our Knowledge. </p>
                    </div>
                    <div class="col-md-4"><button onclick="document.location='verify'"style=" border-radius: 50px ; height: 100px ; width: 100px ;font-size: 2em ;background-color:#4e73de;"><i class="fas fa-laptop" style="color: rgb(255, 255, 255);"></i></button>
                        <h4 class="section-heading">Verify News</h4>
                        <p class="text-muted">   Verify News You Have Heard About.</p>
                    </div>
                    
                </div>
                <!--<form class="form-inline mr-auto navbar-search w-100">
                    <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                        <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                    </div>
                </form>-->
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span></span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script id="bs-live-reload" data-sseport="52706" data-lastchange="1618043380458" src="/js/livereload.js"></script>
</body>

</html>